*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
html{
    font-size: 18px;
}
#wrap{
    width: 100%;
}
.inner{
    width: 1240px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style-type: none;
}
/*************************************************************/
/*********************header*********************/
header{
    height: 100px;
    width: 100%;
}
header #logo{
    width: 190px;
    height: 57px;
    float: left;
    padding-top: 25px;
}
nav ul{
    float: left;
    padding-left: 204px;
    padding-top: 40px;
}
nav ul li{
    float: left;
    padding-right: 50px;
    font-weight: 700;
}
nav ul li:first-child{
    color: #01605A;
}
header #icon{
    float: right;
    padding-top: 40px;   
}
header #icon a{
    padding-left: 16px;
}
/*********************section1*********************/
#section1{
    clear: both;
    height: 670px;
    background-image: url(../img/section1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 1240px;
    color: #fff;
}
#section1 h2{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 262px;
}
#section1 p{
    text-align: center;
    margin-top: 26px;
    font-size: 1.39rem;
    font-weight: 700;
}
#section1 p a{
    padding: 9px 36px;
    background-color: #01605A;
    color: #fff;
}
/*********************section1 transform*********************/
#section1 p a:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #01605A;
    transition: all 0.6s;
}
/*********************section1 transform end*********************/
/*********************section2*********************/
#section2 ul{
    height: 180px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.09);
    margin-top: -90px;
    padding-left: 77px;
}
#section2 ul li{
    float: left;
    height: 140px;
    padding-left: 140px;
    padding-right: 100px;
    margin-top: 35px;
    margin-right: 38px;
}
#section2 ul li:first-child{
    background-image: url(../img/circle1.png);
    background-repeat: no-repeat;
}
#section2 ul li:nth-child(2){
    background-image: url(../img/circle2.png);
    background-repeat: no-repeat;
}
#section2 ul li:last-child{
    background-image: url(../img/circle3.png);
    background-repeat: no-repeat;
}
#section2 ul li h3{
    color: #01605A;
    padding-top: 5px;
    font-size: 1.55rem;
}
#section2 ul li p{
    padding-top: 11px;
    padding-bottom: 11px;
}
#section2 ul li a{
    font-weight: 700;
    display: block;
}
#section2 ul li a::after{
    content: url(../img/arrow1.png);
    padding-left: 11px;
    position: relative;
    top: 4px;
}
/*********************section3*********************/
#section3{
    clear: both;
    padding: 150px 0;
}
#section3 h2, #section5 h2{
    text-align: center;
    font-size: 2.23rem;
    padding-bottom: 80px;
}
#section3 a{
    display: block;
}
#section3 ul{
    height: 400px;
}
#section3 ul li{
    float: left;
    padding-right: 60px;
}
#section3 ul li:last-child{
    padding-right: 0px;
}
#section3 h3, #section3 p{
    text-align: center;
}
#section3 h3{
    padding-top: 40px;
    padding-bottom: 2px;
    font-weight: 700;
}
/**************section3 transform*****************/
#section3 ul li:hover img{
    transform: scale(1.1);
    box-shadow: 0 15px 15px rgba(0,0,0,0.09);
    transition: all ease 0.7s;
}
/**************section3 transform end*****************/
/*********************section4*********************/
#section4{
    clear: both;
    height: 450px;
    background-image: url(../img/section4.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 1240px;
    padding-top: 93px;
    padding-left: 70px;
}
#section4 h3, #section4 #one, #section4 #two{
    padding-bottom: 16px;
}
#section4 h3{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid #01605A;
    background-color: #01605A;
    width: 90px;
    height: 38px;
    padding-left: 17px;
    margin-bottom: 16px;
}
#section4 #one{
    font-size: 2.23rem;
    font-weight: 700;
}
#section4 #two{
    font-size: 1.28rem;
}
#section4 a{
    font-weight: 700;
    font-size: 1.7rem;
    color: #01605A;
}
#section4 a::after{
    content: url(../img/arrow4.png);
    padding-left: 9px;
    position: relative;
    top: -2px;
}
/*********************section5*********************/
#section5{
    padding: 150px 0;
}
#section5 a{
    display: block;
}
#section5 ul{
    height: 400px;
}
#section5 ul li{
    float: left;
    padding-right: 20px;
    position: relative;
}
#section5 ul li:last-child{
    padding-right: 0;
}
#section5 ul li h3{
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: -45px;
}
/**************section5 transform*****************/
#section5 .step{
    background-color: #01605A;
    background-image: url(../img/step1.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    color: #fff;
    font-weight: 600;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 50px;
    font-size: 0.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    opacity: 0;
}
#section5 ul li:hover .step{
    opacity: 1;
    top: 150px;
    transition: all 0.5s;
}
#section5 ul li:hover h3{
    opacity: 0;
}
#section5 ul li:hover img{
    transform: scale(1,1);
    filter: brightness(20%);
    transition: all 0.5s;
}
/**************section5 transform end*****************/
/*********************section6*********************/
#section6{
    clear: both;
    padding-bottom: 150px;
}
#section6 ul{
    height: 100px;
    cursor: pointer;
}
#section6 ul li{
    float: left;
    width: 50%;
    font-weight: 700;
    position: relative;
}
#section6 ul li:first-child{
    background-image: url(../img/section6_1.jpg);
    background-repeat: no-repeat;   
}
#section6 ul li:last-child{
    background-image: url(../img/section6_2.jpg);
    background-repeat: no-repeat;
}
#section6 ul li a{
    display: block;
    height: 100px;
    width: 100%;
    background-image: url(../img/arrow2.png);
    background-repeat: no-repeat;
    background-position: 38% 51.5%;
    padding: 0px 85px;
    line-height: 100px;
}
/**************section6 transform*****************/
#section6 ul li a::before{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #01605A;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}
#section6 ul li span{
    position: absolute;
    top: 0; left: 250px;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    opacity: 0;
}
#section6 ul li:hover a::before{
    opacity: 0.8;
    transition: 0.5s;
}
#section6 ul li:hover span{
    opacity: 1;
    transition: 0.5s;
}
/*********************footer*********************/
footer{
    clear: both;
    height: 400px;
    background-color: #01605A;
    color: #fff;
    padding-top: 98px;
}
footer h4{
    font-weight: 500;
}
footer #left{
    float: left;
}
footer #left h4{
    padding-bottom: 24px;
}
footer h4 span{
    font-size: 0.73rem;
    padding-left: 14px;
    font-weight: 300;
}
footer #left1{
    font-size: 1.7rem;
    font-weight: 700;
}
footer #left2{
    padding-top: 13px;
    font-size: 0.85rem;
    font-weight: 400;
}
footer #left2 span{
    font-size: 0.73rem;
    padding-left: 7px;
}
footer #center{
    float: left;
    padding-left: 240px;
}
footer #center h4{
    padding-bottom: 26px;
}
footer #center1{
    font-size: 0.73rem;
    padding-bottom: 33px;
}
footer #center2{
    font-size: 0.84rem;
}
footer #center2 span{
    padding-left: 5px;
    font-weight: 600;
}
footer #right{
    float: right;
}
footer #right h4{
    padding-bottom: 26px;
}
footer #right1{
    font-size: 0.73rem;
    padding-bottom: 24px;
}
footer #right2{
    font-size: 0.67rem;
}
footer #right span{
    padding-left: 20px;
}
/********************bar*********************/
.bar{
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-image: url(../img/arrow3.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    padding-top: 45px;
    font-weight: 700;
    font-size: 1.2rem;
    box-shadow: 0 30px 30px rgba(0,0,0,0.1);
}